.solid-horizontal-rope {
  border-top: 3px solid black;
}

.sub-heading-row {
  padding: 0px 5px 20px 5px;
}



.vertical-titles {
  writing-mode: vertical-rl;
  font-family: 'Source Sans Pro', sans-serif;
  color: #AAA;
  transition: all 0.8s linear;
  font-size: 2em;
  line-height: 1.5em;
  border-right: 1px solid black;
  margin-left: 50%;
  cursor: pointer;
}


.sub-heading:hover  .vertical-titles {
    color: #123963;
}


.ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 1.2em;
  font-family: 'Roboto Mono', monospace;
  font-size: 3em;
  margin-left: 55%;
  cursor: pointer;
}

.title-and-social-row {
  padding: 350px 20px 5px 20px;
}

.small-about-row {
  padding: 0px 20px 20px 20px;
  font-family: 'Francois One', sans-serif;
  font-size: 1.5em;
}

.social-media-links {
  padding: 3px;
}

#homepage-title {
  display: inline-block;
  font-size: 2em;
  font-family: 'Anton', sans-serif;
  padding-right: 50%;
}

#homepage-title-responsive {
  display: none;
}

.title-one {
  display: none;
  font-family: 'Francois One', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

@media (max-width: 1300px) {
  #homepage-title {
    display: block;
  }
}

@media (max-width:768px) {

  .vertical-titles {
    writing-mode: initial;
    border: 1px solid black;
    margin-left: 0%;
    margin-top: 40px;
    text-align: center;

  }

  .solid-horizontal-rope {
    border-top: 3px solid black;
    margin-top: -30px;
  }

  .ball {
    display: none;
  }

  #homepage-title {
    display: none;
  }

  #homepage-title-responsive {
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    display:block;
    text-align: center;
  }

  .sub-heading.social {
    margin-bottom: -60px;
  }

  .title-and-social-row {
    padding: 20px 20px 20px 20px;
    text-align: center;
    width: 100%;
  }

  .title-one {
    display: block;
  }

  .small-about-row {
    display: none;
  }

}
