@import 'reset';
@import 'css-grid';
@import 'fancy-animations';
@import 'custom-alert';
@import 'sweet-alert';
@import 'index';
@import 'about';
@import 'resume';
@import 'projects';
@import 'social';


.main-grid {
  background-color:#DADADA ;
}

.list-1 a {
  text-decoration: none;
  color: #123963;
}

.list-2 a {
  text-decoration: none;
  color: #9DB7C0;
}

.list-3 a {
  text-decoration: none;
  color: #9DB7C0;
}

.list-4 a {
  text-decoration: none;
  color: #123963;
}

.back-button-row {
  background-color: #696969;
  font-family: 'Architects Daughter', cursive;
  font-size: 2em;
  text-align: center;
  line-height: 5.5em;

}

.back-button-row a {
  color: #DADADA;
}


.my-pic-row {
  padding-bottom: 0px;
}

.title-row {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #DADADA;
  font-family: 'Architects Daughter', cursive;
  font-size: 5em;
  text-align: center;
  line-height: 5.5em;
  color: #696969;
  cursor: pointer;
}

.resume {
  line-height: 1.5em;
}

.resume-download {
  font-size: .5em;
  font-family: 'Francois One', sans-serif;
  color: blue;

}

.title {
  text-decoration: underline;

}

.main-row{
  padding-top: 0px;
  padding-bottom: 0px;
}

.hidden {
  display: none;
}

.list-1 {
  font-family: 'Francois One', sans-serif;
  font-size: 3em;
  text-align: center;
  background-color: #9DB7C0;
  color: #123963;
  line-height: 1.5em;
}

.list-2 {
  font-family: 'Francois One', sans-serif;
  font-size: 3em;
  text-align: center;
  background-color: #123963;
  line-height: 1.5em;
  color: #9DB7C0;

}

.list-3 {
  background-color: #123963;
  color: #9DB7C0;
  font-family: 'Francois One', sans-serif;
  font-size: 3em;
  text-align: center;
  line-height: 1.5em;
}

.list-4 {
  font-family: 'Francois One', sans-serif;
  font-size: 3em;
  text-align: center;
  background-color: #9DB7C0;
  line-height: 1.5em;
  color: #123963;
}

.home-icon {
  max-width: 150px;
}

.my-pic {
  width: 100%;
  margin: 0 auto;
}

.git-icon {
  max-width: 350px;
}


// Media Queries

@media (max-width: 750px) {
  .projects {
    line-height: 1.5em;
  }
}

@media (max-width: 580px) {
  .back-button-row {
    line-height: 1.5em;
  }
}

@media (max-width:500px) {
  .title-row {
    font-size: 4em;
  }

  .home-icon {
    max-width: 50px;
  }

  .list-1,.list-2,.list-3,.list-4 {
    font-size: 2em;
  }

}

@media (max-width: 420px) {
  .title-row {
    font-size: 3.5em;
  }

}

@media (max-width: 380px) {
  .title-row {
    font-size: 3em;
  }

  .list-1,.list-2,.list-3,.list-4 {
    font-size: 1.5em;
  }

  .back-button-row {
    font-size: 1.5em;
  }

}

@media (max-width: 340px) {
  .title-row {
    font-size: 2.5em;
  }

}
